/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    background-color: white;
    justify-content: space-around;
}

body {
padding: 30px; 
    margin-right: 50px;
    background-color: gray;
}

.navbar a {

    margin-left: 50px;
    background-color: aqua;
}