/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Largeur maximale de la page à 1440px */
body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

/*Inside header*/
header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 30px;
    background-color: grey;
}

/*Taille du logo*/
header img {
    width: 61.09px;
    height: 19px;
}

/*Couleur du wording menu*/
header a {
    color: black;
}

/*Hover wording effect + Bordure-top bleue au survol*/
header a:hover {
    color: #0065FC;
    text-decoration: underline;
    text-decoration: overline 2px;
}

/*Reset de la font de la main-recherche*/
.main-recherche h4 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
    color: inherit;
  }