/****** GENERAL ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    max-width: 1440px;
    margin-left: auto; /* Centre le contenu horizontalement */
    margin-right: auto; /* Centre le contenu horizontalement */
}

/*Le bloc de base*/
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
}




/**** 1.Le logo & la navbar (Hébergements & Activités) ****/
.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/*Taille du logo + Placement*/
.header img {
    width: 61.09px;
    height: 19px;
    margin-top: 1%;
}

/*Couleur du wording menu + Marge du menu*/
.header .navbar {
    height: 100%;
    display: flex;
}

/*Hover wording effect + Bordure-top bleue au survol*/
.header .navbar span {
    margin-right: 60px;
    height: 100%;
    color: #0065FC;
}

/*Hover wording effect + Bordure-top bleue au survol*/
.header .navbar span:hover {
    color: #0065FC;
    border-top: 2px solid blue;
}

/*Hover wording effect + Bordure-top bleue au survol*/
.header .navbar a {
    color: black;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

/*Couleur bleu du hover*/
.header .navbar a:hover {
    color: blue;
}




/**** 2.Paragraphe + Formulaire de recherche + Filtres = Texte d'informations ****/
.info-group {
    width: 1340px;
    height: 281px;
    gap: 35px;
}

/*Paragraphe première ligne*/
.main-recherche h1 {
    margin-bottom: 5px;
    font-size: 125%;
}

/*Paragraphe seconde ligne*/
.main-recherche span {
    display: flex;
    font-size: 16px;
    margin-bottom: 20px;
}

/*Affichage Flex des 3 filtres*/
.input-with-icon {
    display: flex;
    position: relative;
}

/*Bloc de l'Icon de localisation*/
.icon {
    font-size: 50px;
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
}

/*Taille de l'icon localisation*/
.icon .fas {
    font-size: 20px;
}

/*Bloc "Rechercher"*/
.bouton-recherche {
    background-color: #0065FC;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 15px;
    border-top-left-radius: 0%;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 30px;
    height: 49px;
}

/*Texte "Marseille,France" */
.texte-recherche {
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    display: flex;
    text-align: center;
    align-content: space-around;
    border: 2px solid #F2F2F2;
    /* Ajoute une bordure de 2 pixel solide grey */
}

/*Bloc Filtres*/
.conteneur-filter {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background-color: white;
    margin-bottom: 20px;
}

/*Ligne Filtres*/
.conteneur-filter h3 {
    display: flex;
    align-self: center;
    margin-right: 15px;
}

/*Icone Économique*/
.button-with-icon1,
.button-with-icon2,
.button-with-icon3,
.button-with-icon4 {
    border-radius: 25px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid #F2F2F2;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
}

/*Icone Économique*/
.button-with-icon1 i,
.button-with-icon2 i,
.button-with-icon3 i,
.button-with-icon4 i {
    margin-right: 10px;
    margin-left: 10px;
    color: #0065FC;
    font-size: 22px;
}

/* Phrase d'information */
.icon-container {
    width: 100%;
    margin-left: 10px;
    align-items: baseline;
    position: relative;
    display: inline-block;
}

/* Phrase d'information */
.icon-container .fa-solid {
    padding-right: 1.55%;
    color: #0065FC;
    top: 2%;
    left: 10px;
    font-size: 70%;
    margin-left: 1px;
}

/* Phrase d'information */
.circle {
    position: absolute;
    bottom: -4px;
    left: -9px;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    background-color: transparent;
}

/* On met bien la phrase aligné */
.icon-container span {
    position: absolute;
    top: 10%;
    margin-left: 25px;
    margin-top: 3px;
}




/**** 3.Hébergements à Marseille & Les plus populaires ****/
.fa-solid {
    color: var(--main-color);
}

/* Bloc "Hébergements à Marseille & Les plus populaires" */
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px 40px;
    margin-left: -55px;
}

/*Style du Bloc "Hébergements à Marseille & Les plus populaires" */
a {
    color: inherit;
    text-decoration: none;
}

/*Titre "Les plus populaires"*/
.section-title {
    margin: 0;
    font-size: 22px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 15px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    margin-bottom: 4%;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cartes-subtitle {
    padding-top: 2%;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    gap: 30px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
}

.hebergements-cartes-gauche {
    display: flex;
    gap: 2%;
    justify-content: center;
    height: 110%;
}

.hebergements-cartes-droite {
    display: flex;
    gap: 2%;
    justify-content: center;
    height: 110%;
}

.hebergements-and-populaires .cartes-txt {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin: 1%;
}

.hebergements-cartes-gauche .cartes-rating {
    padding-left: 5%;
    padding-top: 1%;
}

.hebergements-cartes-droite .cartes-rating {
    padding-left: 5%;
    padding-top: 1%;
}

.hebergements-cartes-gauche .carte {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hebergements-cartes-gauche img {
    width: 250.33px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cartes .cartes-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.carte {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 4px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergements-cartes-droite .carte {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hebergements-cartes-droite img {
    width: 250.33px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cartes .cartes-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-vertical {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/****  4.Activités à Marseille / Taille img activités ****/
.card-vertical img {
    width: 297.5px;
    height: 380px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: white;
    object-fit: cover;
    /*pour bien mettre le contenue */
    margin-top: 5%;
}

/*Style pour les cards"*/
.card-vertical {
    display: inline-block;
    margin-bottom: 40px;
    margin-right: 1%;
    margin-left: 1%;
    padding-top: 1%;
}

/*Texte des cartes*/
.card-vertical .card-txt {
    color: black;
    padding-left: 20px;
    height: 59px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    font-size: 90%;
    margin-top: -2%;
}

/*Enlève les tirets du <a> " */
.activite-container a {
    text-decoration: none;
    /* Pour supprimer les soulignements par défaut */
}

.activite-container .section-title {
    margin-left: 1.2%;
    /* Décale le titre vers la droite, aligné avec le bloc */
}

/* Décale le titre vers la droite */
.activite-container .hebergementaom {
    margin-left: 1%;
}




/**** 5.Footer / Bas de page ****/
.container-footer {
    height: 163px;
    display: flex;
    padding-top: 1.5%;
}

.apropos {
    width: 446.67px;
    height: 163px;
    padding: 20px;
    background-color: #F2F2F2;
}

.nos-hebergements {
    width: 446.67px;
    height: 163px;
    padding: 20px;
    background-color: #F2F2F2;
}

.assistance {
    width: 446.67px;
    height: 163px;
    padding: 20px;
    gap: 15px;
    background-color: #F2F2F2;
}

.container-footer h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    line-height: 1.5;
}

.container-footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    line-height: 2.5;
}

.fa-magnifying-glass:before,
.fa-search:before {
    font-size: 0;
}


/* Version desktop */
@media screen and (max-width: 1400px) {
.container {
    gap: 30px;
    width: 90%;
}

.header img {
    width: 61.09px;
    margin-top: 2%;
}

.header .navbar {
    height: 100%;
    display: flex;
}

.input-with-icon {
    display: flex;
    position: relative;
    height: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
    margin-top: 0px;
    width: 90%;
}

.info-group {
    width: max-content;
    height: 250px;
}

.main-recherche h1 {
    margin-bottom: 5px;
    font-size: 22px;
}

.main-recherche span {
    display: flex;
    font-size: 16px;
    margin-bottom: 30px;
}

.conteneur-filter {
    display: block;
    background-color: white;
    margin-bottom: 15px;
}

.button-with-icon1 {
    border-radius: 25px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid #F2F2F2;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
    margin-top: 20px;
}

.icon-container span {
    margin-left: 25px;
}

.hebergements-and-populaires {
    display: block;
    margin-top: 65px;
}

.hebergements {
    width: 925px;
    margin-bottom: 45px;
    margin-top: 70px;
    gap: 15px;
}

.hebergements-title {
    margin-bottom: 20px;
}

.populaires-cards {
   display: flex;
}

.populaires-cards .card {
    margin-top: 20px;
}

.populaires {
    width: 925px;
    height: 250px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 260px;
    margin: 15px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.card-vertical img {
    width: 193px;
    height: 225px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
    margin-top: 10%;
}

.card-vertical {
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
    padding-top: 1%;
    padding-right: 2px;
    padding-left: 8px;
}

.card-vertical .card-txt {
    color: black;
    padding-left: 20px;
    height: 59px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    font-size: 90%;
    margin-top: -2%;
    width: 193px;
}

.hebergements-cartes-gauche {
    display: flex;
    gap: 3%;
    justify-content: center;
    height: 110%;
    margin-bottom: 10px;
}

.hebergements-cartes-droite {
    display: flex;
    gap: 3%;
    justify-content: center;
    height: 110%;
    margin-bottom: 10px;
}

.activite-container {
    width: auto;
    height: 390px;
}

.activite-container .hebergementaom {
    display: block;
}

.container-footer .apropos.out {
    display: none;
}

.card-title {
    align-self: center;
    font-size: 15px;
    margin-top: 13px;
    margin-right: auto;
}

.card-vertical .card-txt {
    height: 61px;
    width: 192px;
    display: flex;
    flex-direction: column;
}

.activite-container {
    width: 936px;
    height: 390px;
}
}

/* Version tablette */
@media screen and (min-width: 768px) and (max-width: 1024px) {
.container {
    gap: 30px;
    width: 90%;
}

.activite-container {
    width: 929px;
    height: 390px;
    margin-left: -5px;
}

.header .navbar {
    height: 100%;
    display: flex;
    margin-right: -135px;
}

.bouton-recherche {
    margin-bottom: 0;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.container-footer {
    width: 925px;
    display: flex;
    padding-top: 1.5%;
}

.apropos {
    width: 33%;
    height: 163px;
    padding: 20px;
    background-color: #F2F2F2;
}

.nos-hebergements {
    width: 33%;
    height: 163px;
    padding: 20px;
    background-color: #F2F2F2;
}

.assistance {
    width: 33%;
    height: 163px;
    padding: 20px;
    background-color: #F2F2F2;
}
}

/* Détail spécifique pour Ipad Mini */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
.header .navbar {
    height: 100%;
    display: flex;
    margin-right: -310px;
}

.container-footer {
    width: 903px;
    display: flex;
    padding-top: 1.5%;
}
}

/* Détail spécifique pour Surface Pro */
@media only screen and (device-width: 912px) and (device-height: 1368px) and (-webkit-min-device-pixel-ratio: 1) {
.header .navbar {
    height: 100%;
}
    
.container-footer {
    width: 903px;
    padding-top: 1.5%;
}
}

/* Version Mobile */
@media screen and (min-width: 250px) and (max-width: 767px) {
.header {
    margin-bottom: 30px;
    margin-top: 30px;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    width: 100%;
}

.activite-container .hebergementaom {
    margin-left: 3%;
}    

.hebergements-titlesecond {
    margin-right: 55%;
}

.bouton-recherche {
    background-color: #0065FC;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 0px;
    height: 49px;
    width: 50px;
    font-size: 0;
}

.main-container .hebergements {
    background-color: white;
    display: flex;
}

.texte-centre-ville {
    margin-left: 10px;
}

.hebergements-and-populaires {
    margin-bottom: 7%;
    display: flex;
    flex-direction: column-reverse;
}

.hebergements-title {
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: -5px;
}

.container {
    width: 100%;
    gap: 30px;
}

.populaires-cards img {
    height: 146px;
}

.main-container {
    margin-left: 0;
    width: 100%;
    padding: 0 0;
    margin-left: 0;
}

.container-footer {
    height: 167px;
    width: 100%;
    display: block;
    padding-top: 1.5%;
    margin-top: 800px;
}

.main-recherche h1 {
    margin-bottom: 5px;
    margin-left: 0;
    width: 90%;
}

.main-recherche span {
    display: flex;
    font-size: 17px;
    margin-bottom: 30px;
}

.header img {
    width: 61.09px;
    margin-top: 2%;
    align-self: center;
}

.main-recherche {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .navbar {
    display: flex;
    width: calc(100vw - 2px);
    margin-top: -10px;
    margin-left: 0;
}

.header .navbar span {
    margin-bottom: 20px;
    color: #0065FC;
    display: flex;
    width: 50%;
    flex-direction: row;
    transition: border-color 0.3s;
    justify-content: center;
    margin-bottom: 5px;
    border-bottom: 2px solid #ccc;
    margin-right: 0px;
}

.header .navbar span:hover {
    border-top: none;
    border-bottom: 2px solid blue;
}

.hebergements {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 0px;
    gap: 0px;
}

.activite-container {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.hebergements-cartes-gauche {
    display: flex;
    gap: 3%;
    justify-content: center;
    height: 110%;
    margin-bottom: 10px;
    flex-direction: column;
    width: 100%;
}

.hebergements-cartes-gauche img {
    width: 100%;
    height: 134px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cartes-droite img {
    width: 100%;
    height: 134px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cartes-droite {
    display: flex;
    gap: 3%;
    justify-content: center;
    height: 110%;
    margin-bottom: 10px;
    flex-direction: column;
    width: 100%;
}

.info-group {
    height: 316px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
}

.conteneur-filter {
    width: 90%;
    margin-top: -7px;
    margin-left: 0;
    margin-bottom: 12px;
}

.button-with-icon1, .button-with-icon2, .button-with-icon3, .button-with-icon4 {
    border-radius: 25px;
    background-color: white;
    color: black;
    border: 2px solid #F2F2F2;
    margin-top: 15px;
    width: 43%;
    height: 46px;
    font-size: 14px;
}

.button-with-icon1 i,
.button-with-icon2 i,
.button-with-icon3 i,
.button-with-icon4 i {
    margin-right: 8px;
    color: #0065FC;
    font-size: 11px;
    margin-left: -10px;
}

.button-with-icon2 i  {
    margin-left: -30px;
}

.icon-container span {
    margin-left: 25px;
    margin-top: -6px;
    width: 90%;
}

.conteneur-filter .strong {
    font-size: 15px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    padding: 30px;
    border-radius: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.populaires-cards {
    margin-right: 600px;
    display: block;
}

.populaires {
    width: 100%;
    height: 650px;
    margin-top: 50px;
    height: 645px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.1));
    width: 100%;
    margin-left: 5px;
}

.img-contain {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.img-contain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    padding: 20px;
}

.card-text h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text p {
    font-size: 14px;
    color: #787878;
    margin-bottom: 10px;
}

.card-text .price {
    color: #0065FC;
    font-weight: 600;
}

.button {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    width: 50%;
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #0055E0;
}

.hebergements-and-populaires h2 {
    margin-bottom: 0; 
    font-size: 22px;
}

.hebergements-and-populaires .populaires-cards {
    display: flex;
    flex-direction: column;
}

.populaires-cards {
    margin-left: 0px;
    margin-right: 0px;
}

.populaires-cards .populaire-card {
    margin-bottom: 30px;
}

.hebergements-and-populaires .container {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.populaire-card .img-contain {
    height: 250px;
}

.populaire-card .card-text {
    padding: 15px;
}

.populaire-card .button {
    width: 70%;
    margin-left: 15%;
}

.icon-container {
    width: 90%;
    margin-left: 0; 
    align-items: baseline;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.fa-magnifying-glass:before, .fa-search:before {
    content: "\f002";
    font-size: 20px;
    padding: 8px;
    position: absolute;
    margin-left: 12px;
    margin-top: -16px;
}

.input-with-icon .responsive-icon {
    display: inline-block;
    position: absolute;
    right: 11px;
    top: 25px;
    transform: translateY(-50%);
    color: white;
}

.bouton-recherche {
    background-color: #0065FC;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 0px;
    height: 49px;
    width: 50px;
    font-size: 0;
    margin-right: -50px;
}

.texte-recherche {
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    display: flex;
    text-align: center;
    border: 2px solid #F2F2F2;
    width: 100%;
}

.card-vertical {
    display: flex;
    margin-bottom: 0px;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    width: 100%;
}

.card-vertical img {
    width: 90%;
    height: 187px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
    margin-top: 5%;
}

.card-vertical .card-txt {
    width: 90%;
}

.card-title {
    font-size: 16px;
    margin-top: 13px;
}

.apropos {
    width: 100%;
}

.nos-hebergements {
    width: 100%;
}

.assistance {
    width: 100%;
    margin-top: -32px;
}

.carte {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 4px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
    height: 233px;
    margin-bottom: 30px;
    margin-right: 0px;
}

.input-with-icon {
    display: flex;
    position: relative;
    height: 80px;
    margin-left: -40px;
    width: 320px;
}

.titre-centre-ville {
    width: 90%;
}
}

/* Version spéciale pour les petits mobiles */
@media screen and (min-width: 280px) and (max-device-width: 359px) {
.input-with-icon {
    height: 80px;
    margin-left: -42px;
    width: 251px;
}

.button-with-icon1, .button-with-icon2, .button-with-icon3, .button-with-icon4 {
    border-radius: 25px;
    background-color: white;
    color: black;
    border: 2px solid #F2F2F2;
    margin-top: 15px;
    width: 123px;
    height: 46px;
    font-size: 12px;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}

.hebergements-and-populaires .cartes-txt {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin: 1%;
    font-size: 14px;
}

.cartes-subtitle {
    padding-top: 2%;
    font-size: 13px;
}

.header {
    margin-bottom: 30px;
    margin-top: 30px;
    gap: 28px;
    width: 100%;
    font-size: 15px;
}

.main-recherche h1 {
    margin-bottom: 5px;
    margin-left: 0; 
    width: 90%;
    font-size: 15px;
}

.main-recherche span {
    font-size: 11px;
    margin-bottom: 30px;
}

.bouton-recherche {
    margin-right: -11px;
}

.hebergements-cartes-gauche {
    gap: 3%;
    height: 110%;
    margin-bottom: 10px;
    width: 80%;
}

.icon-container span {
    margin-left: 21px;
    margin-top: -5px;
    width: 100%;
}

.hebergements-and-populaires {
    margin-top: 35px;
}

.hebergements-and-populaires h2 {
    margin-bottom: 0;
    font-size: 17px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    padding: 10px;
    border-radius: 0;
    margin-left: 0px;
}

.populaires-cards img {
    width: 98px;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-content {
    margin-left: 10px;
}

.populaires {
    height: 560px;
}

.card-title {
    font-size: 14px;
    margin-top: 13px;
}

.card {
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.1));
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin: 0; 
}

.texte-recherche {
    font-size: 14px;
    width: 156px;
}

.bouton-recherche {
    margin-right: -30px;
}

.hebergements {
    margin-bottom: 0;
}

.activite-container {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    font-size: 14px;
}

.icon {
    font-size: 50px;
    width: 55px;
    height: 49px;

    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-left: 20px
}

.hebergements-cartes-droite {
    display: flex;
    gap: 3%;
    height: 110%;
    margin-bottom: 10px;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.hebergements-cartes-gauche img {
    width: 255px;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-title {
    margin-bottom: 10px;
    margin-right: 0;
}

.hebergements-cartes-droite img {
    width: 255px;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.carte {
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    margin: 4px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 255px;
    height: 200px;
    margin-bottom: 15px;
    margin-right: 0px;
}

.card-vertical img {
    width: 90%;
    height: 140px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
    margin-top: 5%;
}

.card-vertical .card-txt {
    height: 47px;
}

.card-vertical {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    margin-left: 0; 
    margin-right: 0; 
    padding-left: 0; 
    padding-right: 0; 
    align-items: center;
    width: 100%;
}
.container-footer {
    height: 167px;
    width: 100%;
    display: block;
    padding-top: 1.5%;
    margin-top: 530px;
}
}
